<div class="container">
<h1>Welcome!</h1>
<h3>Your Lists:</h3>
</div>

<div>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list %></li>
    <% end %>
  </ul>
</div>

<div>
  <h3>Create a new list:</h3>
  <input type="text" class="all-lists">
  <!-- Need to put error flash messages back in. Currently throwing NoMethodError on @list.error -->
</div>